<!-- 
<div [ngStyle]="{'color':color, 'font-size':fontSize}">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, voluptatum.
    </p>
</div>

<div>
    <p [ngClass]="{'isactive':isactive , 'notactive':notactive}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minus voluptatum non dolor aliquid molestiae possimus et ducimus? 
        Architecto doloribus veniam inventore. Praesentium vero enim earum delectus dolor, temporibus eius!</p>
</div> -->


<div class="container"> 
<h1>My second component</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem est quis quidem, nam labore,
     corrupti repudiandae maiores in facere, quas quos ducimus! Nobis voluptatum vero eligendi iusto possimus, voluptas
      nemo dolorem iure maxime aliquam perspiciatis repudiandae laudantium cumque porro culpa similique nostrum ducimus.
       Voluptas illo inventore explicabo fugiat nihil officia suscipit nesciunt, modi, voluptatibus alias quis quae impedit 
       neque ex eius, animi maiores facilis quibusdam voluptates? Exercitationem, in possimus asperiores repellat amet a vero
        dolor numquam debitis suscipit, tenetur ad vel laborum quidem voluptas eveniet corrupti dignissimos inventore consequuntur
         illo saepe eius nobis odit fugit. Recusandae fugiat consequuntur vitae!</p>
</div>

