<h1>My first website</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rerum minima inventore sunt, perspiciatis 
  eius et temporibus, corrupti dolores adipisci maiores accusamus perferendis eaque corporis mollitia sit expedita impedit ab?</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ipsam nulla laudantium mollitia similique esse sint non consequatur incidunt numquam?</p>
  <h1 *ngIf="istrue">{{a}}</h1>
  <ul *ngFor="let member of members">
    <li>{{member}}</li>
  </ul>
<router-outlet></router-outlet>
